[submodule "Thor/ReactiveCocoa"]
	path = Thor/ReactiveCocoa
	url = git@github.com:github/ReactiveCocoa
[submodule "Thor/json-framework"]
	path = Thor/json-framework
	url = https://github.com/stig/json-framework.git
[submodule "Thor/webrequest"]
	path = Thor/webrequest
	url = https://github.com/nfarina/webrequest.git
