[submodule "ReactiveCocoa"]
	path = ReactiveCocoa
	url = git@github.com:github/ReactiveCocoa
[submodule "json-framework"]
	path = json-framework
	url = git@github.com:stig/json-framework
[submodule "webrequest"]
	path = webrequest
	url = git@github.com:nfarina/webrequest
[submodule "specta"]
	path = specta
	url = git@github.com:github/specta
[submodule "expecta"]
	path = expecta
	url = git@github.com:github/expecta
