[submodule "ReactiveCocoa"]
	path = ReactiveCocoa
	url = git@github.com:github/ReactiveCocoa
[submodule "json-framework"]
	path = json-framework
	url = https://github.com/stig/json-framework.git
[submodule "webrequest"]
	path = webrequest
	url = https://github.com/nfarina/webrequest.git
