.comp {
	margin-top: 30px;
	margin-bottom: 10px;
}

.comp .comp-label {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
}

.section {
	padding-top: 60px;
	padding-bottom: 30px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-color: #e1e1f0;
	border-bottom-width: 1px;
	border-style: solid;
}

.footer {

	padding-top: 60px;
	padding-bottom: 30px;
}

.info {
	margin-left: 150px;
	width: 700px;
}